# Git & GitHub
.git
.gitignore
.github

# IDE
.idea
*.iml
.classpath
.project
.settings/

# Build output
target/
build/

# Logs
*.log
logs/

# Environment files
.env
.env.*
!.env.example

# OS system files
.DS_Store
Thumbs.db

# docker files (optional)
docker-compose.yml
docker-compose.override.yml
Dockerfile.dev
compose.yml
